

:root {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    /* Estiliza o corpo da página */
body {
    background-color: #131515;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100vh; /* Preenche a altura total da viewport */
    margin: 0;
    padding: 0;
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 3.5rem; /* Tamanho da fonte */
    color: #fffafb; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.7rem; /* Espaçamento entre letras */
    padding-bottom: 2.5rem;
}

h2 {
    font-size: 2.5rem; 
    color: #fffafb; 
    text-align: center;
    letter-spacing: 0.3rem; 
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 2rem; /* Espaçamento abaixo de cada seção */
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 45rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1rem; /* Borda arredondada */
    border-color: #7de2d1; 
    color: #45474B; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estiliza os botões dentro das seções */
section button {
    height: 3.2rem;
    width: 10rem;
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1rem; /* Borda arredondada */
    background-color: #7de2d1; /* Cor de fundo do botão */
    color: #2b2c28; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: #30475E; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
}


/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 45rem; /* 60rem Largura máxima da caixa de resultados */
    padding: 0.2rem; /* Espaçamento interno */
    margin: 0 auto; /*centraliza o container na página */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    justify-content: center;
    gap: 0.2rem;
}

.flow-resultados-pesquisa {
    width: 60rem; /* 60rem Largura máxima da caixa de resultados */
    margin-top: 3rem /* Espaçamento interno */
}

#flow-resultados-pesquisa {
    display: none;
    background: #7de2d1; /* Cor de fundo dos itens */
    border-radius: 1rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.item-imagem {
    width: 100px; /* Largura da imagem */
    height: 100px; /* Altura da imagem */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorção */
    margin-right: 1rem; /* Espaçamento à direita da imagem */
    float: left; /* Alinha a imagem à esquerda */
}

/* Estiliza o contêiner do texto dentro do item de resultado */
.item-texto {
    overflow: hidden; /* Garante que o texto não ultrapasse a imagem */
}

.resultado-habilidade {
    display: flex; /* Usa Flexbox para layout */
    align-items: flex-start; /* Alinha os itens no início do contêiner */
    margin-bottom: 1rem; /* Espaçamento abaixo de cada item */
    padding: 1rem; /* Espaçamento interno */
    background: #fff; /* Cor de fundo dos itens */
    border-radius: 0.5rem; /* Borda arredondada */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.item-resultado {
    text-align: center;
    margin-bottom: 0.2rem;
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; 
    color: #2b2c28; 
    text-align: center;
    letter-spacing: 0.1rem;
}


#leia-mais {
    display: none;
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #45474B; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
}

.item-resultado p {
    color: #45474B; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
    font-size: 1rem; /* Tamanho da fonte */
}

/* Estiliza o rodapé da página */
footer {
    background-color: #fff; /* Cor de fundo do rodapé */
    color: #4f1d66;  /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 0.7rem; /* Tamanho da fonte */
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Tamanho da fonte em telas menores */
        letter-spacing: 0.2rem; /* Espaçamento entre letras em telas menores */
    }

    section input {
        width: 25rem; /* Largura dos inputs em telas menores */
        padding: 0.8rem; /* Espaçamento interno em telas menores */
    }

    .resultados-pesquisa {
        grid-template-columns: repeat(2, 1fr); /* Ajusta para duas colunas em telas menores */
    }

    .item-resultado {
        width: calc(50% - 2rem); /* Ajusta para dois itens por linha em telas menores */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem; /* Tamanho da fonte em telas pequenas */
        letter-spacing: 0.1rem; /* Espaçamento entre letras em telas pequenas */
    }

    section input {
        width: 17rem; /* Largura total dos inputs em telas pequenas */
    }

    section button {
        padding: 0.6rem 1rem; /* Espaçamento interno do botão em telas pequenas */
        font-size: 0.9rem; /* Tamanho da fonte do botão em telas pequenas */
    }

    .resultados-pesquisa {
        grid-template-columns: 1fr; /* Ajusta para uma coluna em telas pequenas */
    }

    .item-resultado h2 {
        font-size: 1.1rem; /* Tamanho da fonte dos títulos em telas pequenas */
    }

    footer {
        font-size: 0.9rem; /* Tamanho da fonte do rodapé em telas pequenas */
    }
}

/* .redes-sociais {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.redes-sociais a {
    color: #333;
    text-decoration: none;
} */

/* Estiliza a seção de habilidades populares
#habilidades-populares {
    margin-top: 2rem;
}

#habilidades-populares h2 {
    font-size: 1.8rem;
    color: #222725;
    text-align: center;
    margin-bottom: 1rem;
}

#habilidades-populares ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#habilidades-populares li {
    margin-bottom: 0.5rem;
}

#habilidades-populares a {
    text-decoration: none;
    color: #30475E;
    font-size: 1.2rem;
}

#habilidades-populares a:hover {
    text-decoration: underline;
} */
